body {
  background-color: #4682B4; /* Change the background color to your desired
   color */
  color: #ffffff; /* Set text color to white for better contrast */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the body covers the full height of the viewport */
  text-align: center;
}

header {
  padding: 20px; /* Adjust the padding to create space around the header */
}

main {
  padding: 20px; /* Adjust the padding to create space around the main content */
}

p {
  margin-bottom: 10px; /* Add some bottom margin to paragraphs for spacing */
}
